<h1 id="notice"><%= notice %><h1>
<h1 class="center">Seating Chart</h1>
<% if @seats %>
<div class="seat">
Front of class
</div>
<table class="seat">
  <% for i in 0..3 %>
    <tr> 
      <% for j in 0..7%>
        <% if j == 4%><td></td><% end %>
          <% if @seats[i*7+j+i].user.nil? %>
            <td><%= link_to "Empty Seat", @seats[i*7+j+i] %> </td>
          <%else %>
            <td><%= link_to "#{@seats[i*7+j+i].user.email}", @seats[i*7+j+i] %> </td>
          <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
<div class="seat">
Back of class
</div>
<% end %>
<br />

